<div class="container mt-5">
  <mat-card>
    <mat-card-header>
      <div class="d-flex justify-content-between align-items-center w-100">
        <mat-card-title>Criar Venda</mat-card-title>
        <button mat-raised-button color="primary" (click)="voltar()">Voltar</button>
      </div>
    </mat-card-header>
    <mat-card-content>
      <form [formGroup]="vendaForm" (ngSubmit)="onSubmit()">
        <mat-horizontal-stepper linear #stepper>
          <mat-step>
            <ng-template matStepLabel>Dados do Cartão</ng-template>
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Nome do Cliente</mat-label>
              <input matInput formControlName="nomeCliente" required>
              <mat-error *ngIf="vendaForm.get('nomeCliente')?.hasError('required')">
                O nome do cliente é obrigatório.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Número do Cartão</mat-label>
              <input
                matInput
                formControlName="numeroCartao"
                required
                maxlength="16"
                minlength="16"
                pattern="\d*"
                placeholder="Digite apenas números">
              <mat-error *ngIf="vendaForm.get('numeroCartao')?.hasError('required')">
                O número do cartão é obrigatório.
              </mat-error>
              <mat-error *ngIf="vendaForm.get('numeroCartao')?.hasError('pattern')">
                Somente números são permitidos.
              </mat-error>
              <mat-error *ngIf="vendaForm.get('numeroCartao')?.hasError('maxlength')">
                O número do cartão deve ter no máximo 16 dígitos.
              </mat-error>
              <mat-error *ngIf="vendaForm.get('numeroCartao')?.hasError('minlength')">
                O número do cartão deve ter no mínimo 16 dígitos.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Data de Validade</mat-label>
              <input
                matInput
                formControlName="validadeCartao"
                placeholder="MM/AAAA"
                required
                maxlength="7"
                pattern="^(0[1-9]|1[0-2])\/\d{4}$">
              <mat-error *ngIf="vendaForm.get('validadeCartao')?.hasError('required')">
                A data de validade é obrigatória.
              </mat-error>
              <mat-error *ngIf="vendaForm.get('validadeCartao')?.hasError('pattern')">
                O formato deve ser MM/AAAA e o mês deve ser entre 01 e 12.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>CVV</mat-label>
              <input matInput type="password" formControlName="cvv"
                     required
                     maxlength="3"
                     minlength="3"
                     pattern="\d*"
                     placeholder="Digite apenas números">
              <mat-error *ngIf="vendaForm.get('cvv')?.hasError('required')">
                O CVV é obrigatório.
              </mat-error>
              <mat-error *ngIf="vendaForm.get('cvv')?.hasError('pattern')">
                Somente números são permitidos.
              </mat-error>
              <mat-error *ngIf="vendaForm.get('cvv')?.hasError('maxlength')">
                O CVV deve ter no máximo 3 dígitos.
              </mat-error>
              <mat-error *ngIf="vendaForm.get('cvv')?.hasError('minlength')">
                O CVV deve ter no mínimo 3 dígitos.
              </mat-error>
            </mat-form-field>
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Tipo de Pagamento</mat-label>
              <mat-select formControlName="formaDePagamento">
                <mat-option value="DEBITO">Débito</mat-option>
                <mat-option value="CREDITO">Crédito</mat-option>
              </mat-select>
              <mat-error *ngIf="vendaForm.get('formaDePagamento')?.hasError('required')">
                O tipo de pagamento é obrigatório.
              </mat-error>
            </mat-form-field>
            <button mat-raised-button color="primary" matStepperNext>Próxima Etapa</button>
          </mat-step>

          <mat-step>
            <ng-template matStepLabel>Detalhes da Venda</ng-template>
            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Valor da Venda</mat-label>
              <input matInput formControlName="valorVenda" type="number" required>
              <mat-error *ngIf="vendaForm.get('valorVenda')?.hasError('required')">
                O valor da venda é obrigatório.
              </mat-error>
            </mat-form-field>

            <mat-form-field appearance="fill" class="w-100 mb-3">
              <mat-label>Descrição</mat-label>
              <textarea matInput formControlName="descricao" rows="4"></textarea>
              <mat-error *ngIf="vendaForm.get('descricao')?.hasError('required')">
                O descrição é obrigatório.
              </mat-error>
            </mat-form-field>

            <button mat-button matStepperPrevious>Voltar</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="vendaForm.invalid">Cadastrar Venda</button>
          </mat-step>
        </mat-horizontal-stepper>
      </form>
    </mat-card-content>
  </mat-card>
</div>
